body {
	font-family: 'Montserrat', sans-serif;
	color: $color-white;
	font-size: 1.6rem;
}

.heading {
	&--label {
		width: 50%;

		display: flex;
		justify-content: center;
		align-items: center;
		gap: 3rem;

		font-size: 2rem;
		text-transform: uppercase;
		letter-spacing: 0.1rem;
	}

	&--primary {
		font-weight: bold;
		font-size: 3rem;
		letter-spacing: 0.2rem;
	}

	&--tertiary--main {
		font-size: 1.8rem;
	}

	&--secondary--bold {
		font-size: 2rem;
		font-weight: bold;
	}

	&--tertiary--sub {
		font-size: 1.4rem;
		color: $color-grey-dark;
	}

	&--twoline {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
	}
}
