.date__expenditure {
	font-size: 1.2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	color: $color-primary;
}

.ph-currency-inr {
	transform: translateY(0.1rem);
}

.select-all {
	justify-content: end;
}

.select-all .tag__name {
	flex-grow: 0;
	margin-right: 2rem;
}

.currency-wrapper {
	display: flex;
	align-items: center;
}
