$color-primary: #ffd43b;
$color-primary-dark: #dfbd39;

$color-white: #e5e7eb;

$color-black-dark: #090909;
$color-black-medium: #111111;

$color-grey-dark: #71717a;

*,
*::after,
*::before {
	margin: 0px;
	padding: 0px;
	box-sizing: inherit;
}

html {
	font-size: 62.5%;
}

body {
	font-family: 'Montserrat', sans-serif;
	color: $color-white;
	background-color: $color-black-dark;
	font-size: 1.6rem;
	box-sizing: border-box;
}

.webapp-wrapper {
	height: 100vh;
	display: grid;
	grid-template-columns: 8rem 55% 1fr;
	grid-template-rows: 8rem 1fr;
	row-gap: 2rem;
	column-gap: 5rem;
}

.main {
	display: grid;
	grid-template-columns: 16vw 16vw 1fr;
	grid-template-rows: 68vh 0.9fr;
	column-gap: 4rem;
	row-gap: 3rem;
}

.calendar-label {
	width: 93%;
	display: flex;
	justify-content: space-between;
	align-self: center;
	border-bottom: 0.1rem solid $color-white;
	padding-bottom: 1rem;
}

.calendar {
	flex: 1;
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	column-gap: 1rem;
	row-gap: 1rem;
	font-size: 1.8rem;
}

.calendar__cell {
	display: flex;
	align-items: center;
	justify-content: center;
}

.calendar__cell--date {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 1rem;
}

.topbar {
	grid-column: 2 / -1;
	display: flex;
	align-items: center;
	padding-right: 3rem;
}

.section {
	background-color: $color-black-medium;
	display: flex;
	flex-direction: column;
	border-radius: 1.5rem;
	gap: 2rem;
	padding: 2rem;
}

.section__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.section--calendar {
	grid-column: 1 / 3;
	padding: 2rem 0rem;
}

.section--expenses {
	width: 96%;
	height: 98%;
	padding-right: 0rem;
}

.section--tag {
	height: 80%;
	padding-right: 0rem;
}

.section--summary {
	background-color: $color-primary;
	background-image: linear-gradient(
		63deg,
		$color-primary-dark 0%,
		$color-primary 40%,
		$color-primary-dark 90%
	);
	color: $color-black-dark;
	gap: 0px;
	justify-content: space-between;
}

.section--quote {
	grid-column: 2 / -1;
}

.profile {
	display: flex;
	align-items: center;
	gap: 2rem;
	font-size: 1.8rem;
}

.profile--topbar {
	justify-content: end;
	margin-left: auto;
}

.profile__picture {
	width: 6rem;
	height: 6rem;
	display: inline-block;
	border-radius: 1rem;
}

.tag-container {
	padding-right: 2rem;
	align-self: stretch;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	overflow-y: scroll;
}

.search-tag {
	font-size: 1.4rem;
	margin-right: 2rem;
	padding: 1rem;
	background-color: $color-black-medium;
	border: none;
	border-bottom: 1px solid $color-white;
	color: $color-white;
	font-family: 'Montserrat', sans-serif;
	transition: all 0.2s;
}

.search-tag::placeholder {
	color: $color-grey-dark;
}

.search-tag:placeholder-shown {
	border-bottom: 0.1rem solid $color-grey-dark;
}

.search-tag:focus {
	outline: none;
}

.tag {
	align-self: stretch;
	display: flex;
	justify-content: start;
	gap: 2rem;
	flex-shrink: 0;
	font-size: 1.5rem;
}

.tag__name {
	flex-grow: 1;
}

.tag__color {
	width: 1.5rem;
	height: 1.5rem;
	border-radius: 5rem;
}

.tag__checkbox {
	// TODO
	background-color: $color-primary;
}

.select-all {
	align-self: end;
	margin-right: 2rem;
}

#tag--1 .tag__color {
	background-color: #82c91e;
}

#tag--2 .tag__color {
	background-color: #f03e3e;
}

#tag--3 .tag__color {
	background-color: #6741d9;
}

#tag--4 .tag__color {
	background-color: #ffe066;
}

.date__expenditure {
	font-size: 1.4rem;
	display: flex;
	align-items: center;
	justify-content: center;
	color: $color-primary;
}

.ph-currency-inr {
	transform: translateY(0.1rem);
}

.section__header--scroll {
	margin-right: 2rem;
}

.summary__icon {
	font-size: 3.2rem;
	margin-left: auto;
}

.summary {
	display: flex;
	justify-content: space-between;
}

.currency-wrapper {
	display: flex;
	align-items: center;
}

// scroll bar
::-webkit-scrollbar {
	width: 0.6rem;
}

::-webkit-scrollbar-thumb {
	background: #333;
	border-radius: 1.5rem;
}

// different buttons
.btn {
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	color: inherit;
	transition: all 0.2s;
}

.btn:hover {
	background-color: $color-primary;
	color: $color-black-dark;
}

.btn--circular {
	border-radius: 50%;
	font-size: 2.5rem;
	padding: 1rem 1rem;
}

.btn--square {
	border-radius: 1rem;
	padding: 1rem 1rem;
	font-size: 3rem;
}

.btn--primary {
	background-color: $color-primary;
	color: $color-black-dark;
	border-radius: 1rem;
	padding: 1rem 2.5rem;
	align-self: stretch;
	font-size: 1.4rem;
}

.btn--primary:hover {
	transform: translateY(-0.3rem);
}

.btn--primary:active {
	transform: translatey(-0rem);
}

// different headings
.heading--label {
	width: 50%;

	display: flex;
	justify-content: center;
	align-items: center;
	gap: 3rem;

	font-size: 2rem;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
}

.heading--primary {
	font-weight: bold;
	font-size: 3rem;
	letter-spacing: 0.2rem;
}

.heading--tertiary--main {
	font-size: 1.8rem;
}

.heading--secondary--bold {
	font-size: 2rem;
	font-weight: bold;
}

.heading--tertiary--sub {
	font-size: 1.4rem;
	color: $color-grey-dark;
}

.heading--twoline {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

// Navbar
.navbar {
	padding-top: 0.3rem;
	grid-row: 1 / -1;
	background-color: $color-black-medium;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 3rem;
}

.navbar__logo {
	width: 8rem;
	height: 8rem;
	margin-bottom: 2rem;
}

.navbar__nav-btn:last-child {
	margin-top: auto;
	margin-bottom: 1rem;
}
