* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;
	color: #e5e7eb;
	background-color: #090909;
	font-size: 15px;
}

.calendar__cell--day {
	display: flex;
	align-items: center;
	justify-content: center;
}

.calendar__cell--date {
	display: flex;
	align-items: center;
	justify-content: center;
}

.calendar-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 20px;
	align-items: stretch;
	background-color: #111111;
	padding: 20px 0;
	border-radius: 15px;
	grid-column: 1 / 3;
}

.calendar {
	height: 55vh;
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	column-gap: 10px;
	row-gap: 10px;
	font-size: 18px;
}

.label {
	width: 92%;
	display: flex;
	justify-content: space-between;
	font-size: 25px;
	align-self: center;
	border-bottom: 1px solid #f9fafb;
	padding-bottom: 20px;
}

.label__description {
	width: 50%;
	justify-content: center;
	align-items: center;
	gap: 30px;
	display: flex;
}

.btn {
	border: none;
	cursor: pointer;
	background-color: #121212;
	font-size: 25px;
	display: flex;
	align-items: center;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	justify-content: center;
	color: white;
	transition: all 0.2s;
}

.btn:hover {
	background-color: #ffd43b;
	color: #090909;
}

.webapp-wrapper {
	height: 100vh;
	display: grid;
	grid-template-columns: 80px 55% 1fr;
	grid-template-rows: 80px 1fr;
	row-gap: 20px;
	column-gap: 50px;
}

.topbar {
	grid-column: 2 / -1;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-right: 30px;
}

.topbar__heading {
	font-weight: bold;
	font-size: 30px;
	letter-spacing: 2px;
}

.header__logo {
	width: 80px;
	height: 80px;
	margin-bottom: 20px;
}

.action-section {
	display: grid;
	grid-template-columns: 16vw 16vw 1fr;
	grid-template-rows: 68vh 0.9fr;
	column-gap: 40px;
	row-gap: 30px;
}

.summary-container {
	background-color: #111111;
	width: 100%;
	height: 100%;
	border-radius: 15px;
}

.information-section {
	background-color: #111111;
	width: 96%;
	height: 98%;
	border-radius: 15px;
}

.topbar__profile {
	display: flex;
	align-items: center;
	justify-content: end;
	gap: 20px;
	font-size: 20px;
	font-weight: 400;
	letter-spacing: 1;
}

.profile-picture {
	width: 60px;
	height: 60px;
	display: inline-block;
	border-radius: 10px;
}

.navbar {
	padding-top: 3px;
	grid-row: 1 / -1;
	background-color: #111111;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.nav-icon {
	padding: 10px 10px;
	font-size: 30px;
	border-radius: 10px;
	cursor: pointer;
	transition: all 0.2s;
	color: #e5e7eb;
	height: 50px;
}

.nav-icon:hover {
	background-color: #ffd43b;
	color: #090909;
}

.navigation-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30px;
}

.sign-out {
	margin-bottom: 10px;
}

.tag-section {
	background-color: #111111;
	width: 100%;
	height: 80%;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}

.tag-container {
	margin-top: 20px;
	align-self: stretch;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.search-tag {
	font-size: 14px;
	width: 90%;
	background-color: #111111;
	border: none;
	padding: 20px 0px 10px;
	border-bottom: 1px solid #e5e7eb;
	color: #e5e7eb;
	font-family: 'Montserrat', sans-serif;
	transition: all 0.2s;
}

.search-tag::placeholder {
	color: #71717a;
}

.search-tag:placeholder-shown {
	border-bottom: 1px solid #71717a;
}

.search-tag:focus {
	outline: none;
}

.tag__header {
	display: flex;
	align-self: stretch;
	justify-content: space-between;
	padding: 20px;
	align-items: center;
}

.btn--primary {
	background-color: #ffd43b;
	border: none;
	outline: none;
	cursor: pointer;
	color: #090909;
	border-radius: 5px;
	padding: 10px 25px;
}

.tag {
	align-self: stretch;
	padding: 0 20px;
	display: flex;
	justify-content: start;
	gap: 20px;
}

.select-all {
	align-self: end;
}

.tag__name {
	flex-grow: 1;
}

.tag__color {
	width: 15px;
	height: 15px;
	border-radius: 50px;
}

#tag--1 .tag__color {
	background-color: #82c91e;
}

#tag--2 .tag__color {
	background-color: #f03e3e;
}

#tag--3 .tag__color {
	background-color: #6741d9;
}

#tag--4 .tag__color {
	background-color: #ffe066;
}

.calendar__cell--date {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 10px;
}

.date {
}

.date__expenditure {
	font-size: 13px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #ffd43b;
}

.tag__checkbox {
	background-color: #ffd43b;
}
