// main app
.webapp-wrapper {
	height: 100vh;
	display: grid;
	grid-template-columns: 7rem 55% 1fr;
	grid-template-rows: 6rem 1fr;
	row-gap: 2rem;
	column-gap: 3rem;
}

// scroll bar
::-webkit-scrollbar {
	width: 0.6rem;
}

::-webkit-scrollbar-thumb {
	background: #333;
	border-radius: 1.5rem;
}
