$color-primary: #ffd43b;
$color-primary-dark: #dfbd39;

$color-white: #e5e7eb;
$color-white-1: rgba(#e5e7eb, 0.5);
$color-white-dark: #9ca3af;

$color-black-dark: #090909;
$color-black-medium: #141414;
$color-black-light: #333;

$color-red-primary: #ef4444;
$color-red-dark: #dc2626;

$color-blue-primary: #0ea5e9;
$color-blue-dark: #0284c7;

$color-success: #28a745;
$color-failure: #dc3545;

$color-grey-dark: #71717a;
