@keyframes shrink0 {
	from {
		width: 100%;
	}
	to {
		width: 80%;
	}
}

@keyframes fade-load {
	from {
		opacity: 0;
	}
	50% {
		opacity: 0.8;
	}
	to {
		opacity: 0;
	}
}

@keyframes message-appear {
	from {
		top: -10%;
		opacity: 0;
	}
	to {
		top: 3%;
		opacity: 1;
	}
}

@keyframes blur-box-load {
	from {
		background-position: 100% 0%;
	}
	to {
		background-position: 0% 0%;
	}
}

@keyframes delete-expense {
	0% {
		transform: scale(1);
	}
	90% {
		transform: scale(0);
		opacity: 0;
	}
	100% {
		transform: scale(0);
		opacity: 0;
	}
}

@keyframes load {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
