.btn {
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	color: inherit;
	transition: all 0.2s;

	&:hover {
		background-color: $color-primary;
		color: $color-black-dark;
	}

	&--circular {
		border-radius: 50%;
		font-size: 2.5rem;
		padding: 1rem 1rem;
	}

	&--square {
		border-radius: 1rem;
		padding: 0.8rem 0.8rem;
		font-size: 2.8rem;

		&--small {
			border-radius: 0.6rem;
			font-size: 1.8rem;
			padding: 0.4rem 0.4rem;
		}
	}

	&--primary {
		background-color: $color-primary-dark;
		color: $color-black-dark;
		border-radius: 1rem;
		padding: 1rem 2rem;
		align-self: stretch;
		font-size: 1.2rem;

		&:hover {
			background-color: $color-primary;
		}

		&:active {
			transform: translatey(-0rem);
		}
	}

	&--outline {
		padding: 0.7rem 2rem;
		border: 2px $color-primary-dark solid;
		border-radius: 2rem;
		cursor: pointer;
		transition: all 0.2s;
		color: $color-primary-dark;
		letter-spacing: 1px;
	}
}
