.loader-box {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 20rem;
}

.loader {
	display: inline-block;
	width: 6rem;
	height: 6rem;

	&::after {
		content: ' ';
		display: block;
		width: 4rem;
		height: 4rem;
		margin: 8px;
		border-radius: 50%;
		border: 6px solid;
		border-color: $color-primary-dark transparent $color-primary-dark;
		animation: load 1s linear infinite;
	}
}
