.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 40%;
	height: 50%;

	background-color: $color-black-medium;
	padding: 6rem;
	border-radius: 5px;
	box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
	z-index: 10;
}

.close-modal {
	position: absolute;
	top: 0.5rem;
	right: 1.5rem;
	font-size: 3.5rem;
	color: $color-white-1;
	cursor: pointer;
	border: none;
	background: none;
}
